# Configuración de Base de Datos
DB_HOST=db
DB_NAME=bibloteca
DB_USER=bibloteca_user
DB_PASS=bibloteca_pass

# Configuración de CORS
CORS_ORIGIN=http://localhost:5173

# Configuración de Frontend
VITE_API_URL=http://localhost:8080/api
